.movie-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: unset;
}

.top-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.search-icon-button {
    position: absolute;
    transform: translateX(-38px);
}

.search-icon {
    color: var(--logo-white);
}