.movie-container-main {
    width: 230px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--light-accent);
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.3s ease; /* Add a smooth transition effect for transform */
    border: 1px solid var(--main-border-color);
}

.movie-container-main:hover {
    transform: scale(1.05); /* Adjust the scale factor for the hover effect */
    cursor: pointer;
}

.image-container {
    display: flex;
    align-items: center; /* Adjust alignment to center the image */
    justify-content: center;
}

.image {
    width: 180px !important;
    max-width: 180px !important;
}

.movie-title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
